ion-header{
  --ion-background-color: rgb(20, 20, 20);
}
ion-item-divider{
  min-height: 1px !important;
}
ion-content{
  --ion-background-color: rgb(30, 30, 30);
  --ion-color: rgb(200, 200, 200);
}
ion-card{
  --background: rgb(60, 60, 60);
}
ion-content #titulua{
  color: rgb(230, 230, 230);
}
.labelColor{
  color: rgb(230, 230, 230);
}
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
#hasiera{
  text-align: center;
  color: rgb(200, 200, 200);
}

#aukera_lista{
  margin-top: 200%;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  float: center;
}



/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}