<ion-header>
  <ion-toolbar>
    <ion-title class="titulua">
      Partidak
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-item-divider color="laranjaLarrosa"></ion-item-divider>

<ion-content>
  <ion-card *ngFor="let partida of erabPartidak; index as i;">
    <ion-card-content>
      <ion-icon name="calendar"></ion-icon>   
      {{partida.data}}<BR>
      <ion-icon name="time"></ion-icon>  
      {{partida.zenbat_denbora}}
      <ion-icon name="checkmark"></ion-icon>  
      {{partida.zenbat_zuzen}}/10
      <ion-button [disabled]="true" color="jokatubotoia">
        <p class="puntuak" t>{{partida.puntuak}}</p>
        <ion-img id="puntuakImg" src="assets/img/puntuak.png" ></ion-img>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

