<ion-header>
  <ion-toolbar>
    <ion-title id="register_izenburua">
      Logeatu
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-item-divider color="laranjaLarrosa"></ion-item-divider>


<ion-content>
  <div id="register">
    <form action="/action_page.php">
      <table id="register_taula">
        <tr>
          <td class="letra_txuria"> Zure izena</td>&nbsp;<td><input name="izena" type="text"></td>
        </tr>
        <br>
        <br>
        <tr>
          <td class="letra_txuria"> Pasahitza</td>&nbsp;<td><input type="password" name="pasahitza" maxlength="8"></td>
        </tr>
        <br>
      </table>
      <br><br>
      <ion-button id="bidali" color="laranjaLarrosa" expand="block">Sartu</ion-button>
    </form>
  </div>
</ion-content>