<ion-header>
  <ion-toolbar>
    <ion-button fill="none" href="" (click)="dismissLogin()" class="activated">
      <ion-icon name="md-arrow-round-back"></ion-icon>
    </ion-button>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item-divider color="laranjaLarrosa"></ion-item-divider>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">

    <ion-item>
      <ion-label position="stacked" class="email-label">Sartu zure email-a:<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="email" ngModel name="email" class="email-input"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked" class="password-label">Sartu zure pasahitza:</ion-label>
      <ion-input type="password" ngModel name="password" class="password-input"></ion-input>
    </ion-item>
  
    <p text-center class="textua textua-margin"></p>
  
    <ion-button id="laranja" type="submit" expand="full" color="jokatuBotoia" >Logeatu</ion-button>
  </form>
  <p text-center class="textua">Ez daukazu konturik?</p>
  <ion-button id="urdina" expand="full" color="jokatuBotoia" [routerLink]="['/register']" >Erregistratu</ion-button>
</ion-content>