<ion-header>
  <ion-toolbar>
    <ion-title id="profila">
      Profila
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-item-divider color="laranjaLarrosa"></ion-item-divider>

<ion-content >
  <!-- *ngIf="user != undefined" -->
    <ion-avatar>
      <ion-img class="avatarArgazkia" src="assets/img/eguzkitze.png"></ion-img>
    </ion-avatar>
    <ion-button color="jokatuBotoia" id="argazkiBtn">
      <ion-icon name="camera"></ion-icon>
    </ion-button>
    <li class="lista">
      <ion-card-title class="erabiltzailea">
        <!--{{ user["erabiltzailea"]  }}-->
      </ion-card-title>
    </li>
    
    <ion-text id="erabiltzaileaText">
      <p>Iza666</p>
    </ion-text>
    <ion-button color="jokatuBotoia" id="icon1">
      <ion-icon name="md-create"></ion-icon>
    </ion-button>

    <!--<ion-text id="tlfText">
      <p>Tlf: <span>666 666 666</span></p>      
    </ion-text> -->

    <ion-text id="emailText">
      <p>
        E-mail: <span>hdoasdfasd fasdc asdc asdfk@lsdiafn.com</span>
      </p>
    </ion-text>

</ion-content>





  <!-- <ion-item lines="full">
    <ion-icon slot="start" name="moon"></ion-icon>
    <ion-label>
      Itxura iluna jarri
    </ion-label>
    <ion-toggle color="dark" checked="false" id="toggle" (click)='darkMode()'></ion-toggle>
  </ion-item> -->

