.avatarArgazkia{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 10%);
    width:150px;
    height:150px;
    border-radius: 50%;
    --border-radius: 50%;
    border: double 3px transparent;
}
.argazkiBtn{
    width: 3.8em;
    height: 3.8em;
    position: fixed;
    left: 80%;
    transform: translate(-20%, 0%);
    --box-shadow:none;
    border-radius: 50%;
    --border-radius: 50%;
    border: double 3px transparent;
}
ion-input{
    position: fixed;
    opacity: 0;
}
ion-text{
    width: 85%;
    position: fixed;
    left: 50%;
    background-color: rgb(30, 30, 30);
    color: rgb(230, 230, 230);
    font-size: 1.35em;
}
ion-text p{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#userSpan{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}
#erabiltzaileaText{
    top: 60%;
    transform: translate(-50%, -40%);
}
#emailText{
    top: 75%;
    transform: translate(-50%, -25%);
}
#emailText span{
    color: rgb(150, 150, 150);
}
.icon1{
    position: fixed;
    left: 80%;
    top: 60%;   
    transform: translate(-20%, -55%);
    --box-shadow:none;
    border-radius: 50px;
    --border-radius: 50px;
    border: double 3px transparent;
}
ion-toolbar ion-button{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0%, -60%);
    margin-right: 2%;
  }
  ion-toolbar ion-button ion-icon{
    color: #FF3849;
  }
  :host{
    ion-toolbar ion-button{
      --ripple-color: rgb(100, 100, 100);
    }
  }