<ion-header>
  <ion-toolbar>
    <ion-title id="profila">
      Taldeak
    </ion-title>
    <ion-button *ngIf="token != undefined" (click)="alertToken()"><ion-icon name="help"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
<ion-item-divider color="laranjaLarrosa"></ion-item-divider>

<ion-content>
  <ion-card>
    <p class="taldeIzena" id="taldeIzena" bold>Taldearen izena: {{taldeIzenaa}}</p>
    <ion-card-content ngFor="let per of sailkapena; index i">
      <p id="taldekide1"></p>
   </ion-card-content>
  </ion-card>

</ion-content>
