<ion-header>
  <ion-toolbar>
    <ion-title id="profila">
      Taldeak
    </ion-title>
    <ion-button *ngIf="token != undefined" (click)="alertToken()"><ion-icon name="help"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
<ion-item-divider color="laranjaLarrosa"></ion-item-divider>

<ion-content>
  <ion-card *ngFor="let sailkapen of sailkapena; index as i;">
<!--     <ion-card-content [ngClass]="{'urrea': i == 0, 'zilarra': i == 1, 'brontzea': i == 2}">
 -->  <ion-card-content>
      <li class="lista"><ion-card-title class="erabiltzailea">{{sailkapen.erabiltzailea}}</ion-card-title></li>

      <ion-button (click)="erabiltzaileaEzabatuTaldetik(i)"><ion-icon name="trash"></ion-icon></ion-button>
         <p class="puntuak" t>{{sailkapen.Totala}}</p>
<!--         <ion-img id="puntuakImg" src="assets/img/puntuak.png" ></ion-img>
 -->   
    </ion-card-content>
  </ion-card>
</ion-content>
