<ion-header>
  <ion-toolbar>
    <ion-title id="taldea">
      Taldea: {{taldeIzenaa}}
    </ion-title>
    <ion-button class="goiburuBotoiaEzkerra" color="jokatuBotoia" fill="none" (click)="goBack()">
      <ion-icon name="md-arrow-round-back"></ion-icon>
    </ion-button>
    <ion-button class="goiburuBotoiaEskuina" color="jokatuBotoia" fill="none" *ngIf="token != undefined" (click)="alertToken()">
      <ion-icon name="help"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-item-divider color="laranjaLarrosa"></ion-item-divider>

<ion-content>
  <div class="ehun" *ngIf="user != undefined">
    <ion-card class="zurePosizioaCard">
      <ion-card-content class="zurePosizioa">
        <ion-text class="zurePosizioa">Zure postua: #{{zurePosizioa}}</ion-text>
        <ion-button [disabled]="true" color="jokatubotoia" class="gradiantNaranja">
          <p class="zurePuntuak">{{zurePuntuak}}</p>
          <ion-img src="assets/img/puntuak.png" ></ion-img>
        </ion-button>    
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngFor="let sailkapen of sailkapena; index as i;">
    <ion-card-content [ngClass]="{'urrea': i == 0, 'zilarra': i == 1, 'brontzea': i == 2}">
      <!-- Medallak jarteko IF, funtziona -->
      <ion-img class="medalli" *ngIf=" i == 0" src="assets/img/Lehena.png"></ion-img>
      <ion-img class="medalli" *ngIf=" i == 1" src="assets/img/Bigarrena.png"></ion-img>
      <ion-img class="medalli" *ngIf=" i == 2" src="assets/img/Hirugarrena.png"></ion-img>
      <ion-text *ngIf=" i > 2" class="posizioa medalli">#{{i+1}}</ion-text>
      
      <ion-avatar>
        <ion-img id="argazkia" class="image gradiantNaranja" [src]="sailkapen.argazkia">Argazkia</ion-img>
      </ion-avatar>
      <li class="lista">
        <ion-card-title class="erabiltzailea">{{sailkapen.erabiltzailea}}</ion-card-title>
      </li>

      <ion-button [disabled]="true" color="jokatubotoia" class="gradiantNaranja">
        <ion-text class="puntuak" t>{{sailkapen.Totala}}</ion-text>
        <ion-img id="puntuakImg" src="assets/img/puntuak.png" ></ion-img>
      </ion-button>    
    </ion-card-content>
  </ion-card>
</ion-content>
