#taldea{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(200, 200, 200);
}
.atzeraButton{
    left: 15px;
    color: white;
}
.tokenButton{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0%, -60%);
    color: white;
}
:host{
    ion-toolbar ion-button{
        --ripple-color: rgb(100, 100, 100);
    }
}