<ion-header>
  <ion-toolbar>
    <ion-title id="galdera">Galdera</ion-title>
    <ion-text>{{count}} /10</ion-text>
    <label class="denbora" [innerHTML]="minutes">00</label><label class="denbora">:</label><label class="denbora" [innerHTML]="seconds">00</label>
  </ion-toolbar>
</ion-header>
<ion-item-divider color="jokatu"></ion-item-divider>

<form #form="ngForm" (ngSubmit)="erantzuna(form)" method="post"></form>
<ion-content *ngFor="let resp of galderak">
  <ion-card>
    <ion-card-header>
      <ion-card-title id="titulua">{{resp.galdera}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img id="galderaIrudiak" src="assets/img/eguzkitze.png"></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-button size="large" color="jokatuBotoia" name="opt1" class="galderaBotoia gB1" expand="block" (click)="bidaliErantzuna(1)">{{resp.opt1_erantzuna}}</ion-button>
  <ion-button size="large" color="jokatuBotoia" name="opt2" class="galderaBotoia gB2" expand="block" (click)="bidaliErantzuna(2)">{{resp.opt2}}</ion-button>
  <ion-button size="large" color="jokatuBotoia" name="opt3" class="galderaBotoia gB3" expand="block" (click)="bidaliErantzuna(3)">{{resp.opt3}}</ion-button>
  <ion-button expand="block" color="jokatuBotoia" class="hurrengoa" (click)="hurrengoa()"><span>Hurrengo galdera</span></ion-button>
</ion-content>


