<ion-header translucent>
  <ion-toolbar>
    <ion-button [routerLink]="['']" id="hasiera_botoia"><ion-icon slot="primary" name="home"></ion-icon></ion-button>
    <ion-title id="galdera">
      Galdera
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-item-divider color="jokatu"></ion-item-divider>

<ion-content fullscreen>
  <form #form="ngForm" (ngSubmit)="erantzuna(form)" method="post"></form>
  <ion-card class="welcome-card" *ngFor="let galdera of galderak">
    <ion-card-header>
      <ion-card-title id="titulua">{{galdera.galdera}}</ion-card-title>
    </ion-card-header>
    <ion-img id="galderaIrudiak" src="assets/img/eguzkitze.png"></ion-img>
    <ion-card-content class="centered">
      <ion-button size="large" color="jokatuBotoia" name="opt1" class="galderaBotoia1" expand="block" type="submit">{{galdera.opt1_erantzuna}}</ion-button>
      <ion-button size="large" color="jokatuBotoia" name="opt2" class="galderaBotoia2" expand="block" type="submit">{{galdera.opt2}}</ion-button>
      <ion-button size="large" color="jokatuBotoia" name="opt3" class="galderaBotoia3" expand="block" type="submit">{{galdera.opt3}}</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


