ion-header{
    --ion-background-color: rgb(20, 20, 20);
}
ion-item-divider{
    min-height: 1px !important;
}
.erabiltzailea{
    color: white;
    font-weight: bold;
}

.izenburua{
    text-align: center;
    color: rgb(200, 200, 200);
}
.image {
     height: 5vw; 
     width: 5vw; 
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.circle-pic{
    width:50px;
    height:50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display:inline-block;
}
.lista{
    display:inline-block;
    font-weight: bold;
}
.tabulazioa{
    overflow: auto;
    padding: 5px;
}
.posizioa{
    color: rgb(170, 170, 170);
    font-weight: bold;
}