ion-header{
    --ion-background-color: rgb(20, 20, 20);
}
ion-item-divider{
    min-height: 1px !important;
}
ion-content{
    --ion-background-color: rgb(30, 30, 30);
    --ion-color: rgb(200, 200, 200);
}
.erabiltzailea{
    color: white;
    font-weight: bold;
}
ion-card-content{
    display: flex;
    align-items: center;
    padding-right: 30%;
    background-color: rgb(60, 60, 60);
}
ion-card-content ion-img{
    width: 50px;
    height: 50px; 
    float:left;
}
.izenburua{
    text-align: center;
    color: rgb(200, 200, 200);
}
.image {
    height: 5vw; 
    width: 5vw; 
    
    border-radius: 50%;
    --border-radius: 50%;
    border: double 2px transparent;
    background-image: linear-gradient(#282828, #282828), linear-gradient(to bottom right, #FF8000, #FF0080);
    background-origin: border-box;
    background-clip: content-box, border-box;

    display: inline-block;
    margin-left: 10px;
    margin-right: auto;
    border-radius: 50%;
}
.lista{
    display:inline-block;
    font-weight: bold;
    margin-left: 10px;
}
.posizioa{
    width: 50px;
    text-align: center;
    color: rgb(230, 230, 230);
    font-weight: bold;
    font-size: 1.3em;
}
.puntuak{
    color: rgb(230, 230, 230);
    font-weight: bold;
    font-size: 1.3em;
}
#puntuakImg{
    height: 25px;
    width: 25px;
}
ion-button.button-disabled {
    border-radius: 25px;
    --border-radius: 25px;
    border: double 1px transparent;
    background-image: linear-gradient(#282828, #282828), linear-gradient(to bottom right, #FF8000, #FF0080);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: absolute;
    right: 0;   
    margin-right: 2%; 
    --color: white;
    --opacity: 1;
}
ion-button.button-disabled ion-img{
    margin-left: 3px;
}

.urrea{
    border: 2px solid #FFF408;
}
.zilarra{
    border: 2px solid #E5E5E5;
}
.brontzea{
    border: 2px solid #EF9536;
}