ion-card-content{ //Card bakoitzaren estruktura eta atzealdeko kolorea
    display: flex;
    padding-right: 30%;
    background-color: rgb(50, 50, 50);
}
.medalli{ //Medallaren argazkia edo posizioa azaltzen duen zenbakiaren kokapena
    width: 40px;
    height: 40px;
    position: absolute;
    top: 35%;
    left: 12%;
    transform: translate(-88%, -65%);
}
.image{ //Erabiltzaile bakoitzaren argazkiaren kokapena eta borderraren kolorea
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    left: 13%;
    
    border-radius: 50%;
    --border-radius: 50%;
    border: double 2px transparent;
    background-image: linear-gradient(#282828, #282828), linear-gradient(to bottom right, #FF8000, #FF0080);
    background-origin: border-box;
    background-clip: content-box, border-box;

    display: inline-block;
    margin-left: 10px;
    margin-right: auto;
}
.erabiltzailea{ //Erabiltzaileen izenak erdian agertzeko, tamainua eta kolorea
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 25%;
    text-align: center;
}
.lista{ //Puntuak azaltzen dituen edukiontziaren estruktura
    display:inline-block;
    font-weight: bold;
    margin-left: 10px;
}
.posizioa{ //Posizioa azaltzen duen zenbakiaren ezaugarri gehiago
    width: 50px;
    text-align: center;
    color: rgb(230, 230, 230);
    font-weight: bold;
    font-size: 1.3em;
}
.puntuak{ //Puntuak azaltzen dituen textuaren kolorea eta letra mota
    margin-top: 3px;
    color: rgb(230, 230, 230);
    font-weight: bold;
    font-size: 1.3em;
}
#puntuakImg{ //Puntuak adierazten dituen ikonoaren tamaina eta inguruetako espazioa
    height: 25px;
    width: 25px;
    margin-left: 3px;
}
ion-button.button-disabled { //Puntuak adierazten dituen edukiontziaren diseinua
    border-radius: 25px;
    --border-radius: 25px;
    border: double 1px transparent;
    background-image: linear-gradient(#282828, #282828), linear-gradient(to bottom right, #FF8000, #FF0080);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: absolute;
    right: 0;  
    top: 50%; 
    transform: translate(-0%, -50%); 
    margin-right: 2%; 
    --color: white;
    --opacity: 1;
}

.urrea{ //#1 postuan dagoen Card-aren borderra
    border: 3px solid #FFF408;
}
.zilarra{ //#2 postuan dagoen Card-aren borderra
    border: 3px solid #E5E5E5;
}
.brontzea{ //#3 postuan dagoen Card-aren borderra
    border: 3px solid #EF9536;
}

.ehun{ //Logeatuta dagoen erabiltzailearen edukiontzia
    width: 100%;
    margin-top: -10px;
    margin-bottom: 5%;
} 
.ehun ion-card-content{ //Edukiaren ezkerreko padding-a
    padding-left: 50px;
}
.zurePosizioaCard{ //Shadow propietatea agertu ez dedin
    box-shadow: none;
}
.zurePosizioa{ //ion-card atzealde gabe. Bere posizioa
    background: none;
    margin-left: 5px;
    margin-top: 3px;
    text-align: center;
    color: rgb(230, 230, 230);
    font-weight: bold;
    font-size: 1.1em;
}
.zurePuntuak{ //Erabiltzailearen puntuak adierazten dituen textuaren kolorea eta tamaina
    color: rgb(230, 230, 230);
    font-weight: bold;
    font-size: 1.1em;
}
.ehun ion-button.button-disabled{ //Erabiltzailearen puntuen edukiontziaren margina
    margin-right: 10%;
}
.ehun ion-img{ //Erabiltzailearen puntuak erakusten dituen ikonoaren tamainua
    height: 20px;
    width: 20px;
}