<ion-header>
  <ion-toolbar>
    <ion-title class="izenburua">
      Sailkapena
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-item-divider color="laranjaLarrosa"></ion-item-divider>

<ion-content>
  <div class="ehun" *ngIf="user != undefined">
    <ion-card class="zurePosizioaCard">
      <ion-card-content class="zurePosizioa">
        <ion-text>Zure postua:</ion-text>
        <p class="zurePosizioa">#{{zurePosizioa}}</p>
        <ion-button [disabled]="true" color="jokatubotoia">
          <p class="zurePuntuak">{{zurePuntuak}}</p>
          <ion-img src="assets/img/puntuak.png" ></ion-img>
        </ion-button>    
      </ion-card-content>
    </ion-card>
  </div>
  
  
  
  <ion-card *ngFor="let sailkapen of sailkapena; index as i;">
    <ion-card-content [ngClass]="{'urrea': i == 0, 'zilarra': i == 1, 'brontzea': i == 2}">
      <!-- Medallak jarteko IF, funtziona -->
      <ion-img *ngIf=" i == 0" src="assets/img/Lehena.png"></ion-img>
      <ion-img *ngIf=" i == 1" src="assets/img/Bigarrena.png"></ion-img>
      <ion-img *ngIf=" i == 2" src="assets/img/Hirugarrena.png"></ion-img>
      <p *ngIf=" i > 2" class="posizioa">#{{i+1}}</p>
      
      <ion-avatar>
        <ion-img  src="assets/img/eguzkitze.png" class="image">Argazkia</ion-img>
      </ion-avatar>
      <li class="lista"><ion-card-title class="erabiltzailea">{{sailkapen.erabiltzailea}}</ion-card-title></li>

      <ion-button [disabled]="true" color="jokatubotoia">
        <p class="puntuak" t>{{sailkapen.Totala}}</p>
        <ion-img id="puntuakImg" src="assets/img/puntuak.png" ></ion-img>
      </ion-button>    
    </ion-card-content>
  </ion-card>
</ion-content>
