ion-header{
    --ion-background-color: rgb(45, 45, 45);
}
ion-item-divider{
    min-height: 1px !important;
}
ion-content{
    --ion-background-color: rgb(30, 30, 30);
}

.hasiera, .galdera{
    text-align: center;
    color: rgb(200, 200, 200);
    margin-top: -30px;
}
.textua{
    color:white;
}
.button{
    margin-top: -6px;
    background-color: transparent;
    margin-left: +20px;
}
.email-label, .password-label, .erabiltzailea-label{
    font-size: 30px;
    color: white;
}
.email-input, .password-input, .erabiltzailea-input{
    margin-top: 15px;
    color: rgb(200, 200, 200);
}
.erregistratu_botoia{
    margin-top: 100px;
}
:host {
    ion-item {
        --background-focused: rgb(60, 60, 60);
        //--color-focused: black;
        //--color-selected: red;
        --border-color: rgb(100, 100, 100);
        --highlight-color-valid: linear-gradient(to bottom right, #FF8000, #FF0080);
        --highlight-color-invalid: linear-gradient(to bottom right, #FF8000, #FF0080);
        --highlight-color-focused: linear-gradient(to bottom right, #FF8000, #FF0080);        
    }
}