<ion-header>
  <ion-toolbar>
    <ion-title id="register_izenburua">
      Erregistratu
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-item-divider color="laranjaLarrosa"></ion-item-divider>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div  id="register">
          <div class="letra_txuria">
            izena
          </div>
          <div>
            <input class="fondo_grisa" name="izena" type="text">
          </div>
          <div class="letra_txuria">
            abizena
          </div>
          <div>
            <input class="fondo_grisa" name="abizena" type="text">
          </div>
          <div class="letra_txuria">
            Korreoa
          </div>
          <div>
            <input class="fondo_grisa" name="Korreoa" type="text">
          </div>
          <div class="letra_txuria">
            Pasahitza
          </div>
          <div>
            <input class="fondo_grisa" type="password" name="pasahitza" maxlength="8">
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
    <br>
    <ion-button id="bidali" color="laranjaLarrosa" expand="block">Sartu</ion-button>
</ion-content>