<ion-header>
  <ion-toolbar>
    <ion-button fill="none" href="" (click)="dismissRegister()" class="activated">
      <ion-icon name="md-arrow-round-back"></ion-icon>
    </ion-button>
    <ion-title>Erregistratu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item-divider color="jokatu"></ion-item-divider>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
  
    <ion-item>
      <ion-label position="stacked" class="erabiltzailea-label">Sartu zure erabiltzailea:<ion-text color="danger">*</ion-text></ion-label>
      <ion-input ngModel name="erabiltzailea" class="erabiltzailea-input"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked" class="email-label">Sartu zure emaila:<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="email" ngModel name="email" class="email-input"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked" class="password-label">Sartu zure pasahitza:<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password" ngModel name="password" class="password-input"></ion-input>
    </ion-item>
  
    <ion-button id="urdina" type="submit" expand="full" color="jokatuBotoia" class="erregistratu_botoia">Erregistratu</ion-button>
  </form>

  <p text-center class="textua">Jada kontu bat daukazu?</p>
  <ion-button id="laranja" expand="full" color="jokatuBotoia" (click)="loginModal()">Logeatu</ion-button>
</ion-content>  