<ion-header>
  <ion-toolbar>
    <ion-button color="light" href="" (click)="dismissRegister()">Itxi</ion-button>
    <ion-title>Erregistratu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
  
    <ion-item>
      <ion-label position="floating">Tu nick shur</ion-label>
      <ion-input ngModel name="erabiltzailea"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Pasahitza</ion-label>
      <ion-input type="password" ngModel name="password"></ion-input>
    </ion-item>
  
    <ion-button type="submit" expand="full" color="danger">Erregistratu</ion-button>
  </form>

  <p text-center>Jada kontu bat daukazu?</p>
  <ion-button expand="full" color="primary" (click)="loginModal()">Logeatu</ion-button>
</ion-content>  