<ion-header>
  <ion-toolbar>
    <ion-title class="titulua">
      Taldeak
    </ion-title>
    <ion-button fill="clear" (click)="tokenAlert()">
      <ion-icon name="key"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-item-divider color="laranjaLarrosa"></ion-item-divider>

<ion-content>
  <ion-card *ngFor="let talde of taldeak; index as i;">
    <ion-card-content>
      <ion-card-title class="taldeIzena" (click)="taldekideakLortu(talde.izena);">{{talde.izena}}</ion-card-title>
    </ion-card-content>
  </ion-card>
  


  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" (click)="gehituTaldea()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>





  <!-- <ion-item lines="full">
    <ion-icon slot="start" name="moon"></ion-icon>
    <ion-label>
      Itxura iluna jarri
    </ion-label>
    <ion-toggle color="dark" checked="false" id="toggle" (click)='darkMode()'></ion-toggle>
  </ion-item> -->

