<ion-header>
  <ion-toolbar>
    <ion-title id="profila">
      Taldeak
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-item-divider color="laranjaLarrosa"></ion-item-divider>

<ion-content >
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" (click)="gehituTaldea()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>





  <!-- <ion-item lines="full">
    <ion-icon slot="start" name="moon"></ion-icon>
    <ion-label>
      Itxura iluna jarri
    </ion-label>
    <ion-toggle color="dark" checked="false" id="toggle" (click)='darkMode()'></ion-toggle>
  </ion-item> -->

